# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
env/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Plugin config (machine-specific paths, written by /setup)
hooks/hooks.json
hooks/project_config.json
hooks/charte_config.json

# Logs
*.log
